<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
  font-size: 1em;
}

#box{
  font-family: Arial, Helvetica, sans-serif;
}

.row{
  margin: auto;
  width: 100%;
}

.bigbox {
  background-color:#FFF0F5;
  overflow: auto;
  border: 2px solid gray;
  padding: 5px;
  border-radius:10px;
  margin-bottom: 20px;
}

section#box p {
  color: black;
  position:relative;
  text-align: left;
  padding: 5px;
}

section#box h3 {
  font-size: 1.75em;
  color: #030303;
  font-weight: 5;
}

h1 {  /*Our menu*/
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.0em;
  font-weight: bold;
  color: #696969;
}

.navbar-brand h1{
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #C9C9C9;
}

.navbar-brand  a:hover, .navbar-brand a:focus{
  text-decoration: none
}

#header-nav {
  background-color: #A52A2A;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.25em;
  border-radius: 0;
  border: 0;
}

#nav-list a:hover {
  color: #C9C9C9;
  text-align: center;
}

#nav-list a {
  color: #C9C9C9;
  text-align: center;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: black;
}


